<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="infoLog" xsi:type="File" fileName="infoLog.log" />
		<target name="logconsole" xsi:type="Console" />
		<target name="appLog" xsi:type="File" fileName="appLog.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoLog" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="appLog" />
		
	</rules>
</nlog>


